body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

input[type="text"] {
    padding: 5px;
    font-size: 16px;
}

button {
    padding: 5px 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.weather-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.location {
    text-align: center;
}

.current-weather, .forecast {
    margin-top: 20px;
}

.weather-info {
    margin-top: 10px;
}

#forecastVisualization {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.forecast-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 150px;
    text-align: center;
}

h2, h3 {
    margin: 5px 0;
}

